<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">PriceCopy plugin</label>
    <label lang="bg">PriceCopy plugin</label>

    <version>1.0.0</version>
    <copyright>Copyright (c) 2019, Kronospan EOOD</copyright>
    <author>Kronospan EOOD</author>
    <link>https://kronospan-express.com</link>
    <license>MIT</license>
    <compatibility minVersion="5.4.0" />
    <description lang="en">
        PriceCopy ...
    </description>
    <description lang="bg">
        PriceCopy ...
    </description>
    <changelog version="1.0.0">
        <changes lang="en">Initial version of plugin;</changes>
        <changes lang="bg">Initial version of plugin;</changes>
    </changelog>
</plugin>
